body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}



#main-container {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    height: 100vh;
    
  
    
}

#main-container div {
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}

#main-container div:nth-child(n+2):nth-child(n) {
    margin:1vw;
}

div {
    border: 1px solid black;
    
}

#first-block {
    background-color: red;
    grid-column-end: span 6;
    
}

.blue-block {
    background-color: blue;
    grid-column: 1 / span 2;

}

.yellow-block {
    background-color: yellow;
    grid-column: 3 / span 2;
   
}

.green-block {
    background-color: green;
    grid-column: 5 / span 2;
}

.black-block {
    background-color: black;
    color: white;
    grid-column: span 3;
    grid-row: 4 / 7;
}

.white-block {
    background-color: white;
    grid-column: span 2;
}

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {

    .green-block {
        display:flex;
        flex-direction: column;
    }

    #main-container div {
        align-items: flex-start;
        height: 50vh;;
    }

}